/* navbar */
.navbar {
    padding: 5px;
    margin-bottom: -14px;
}
  
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
    margin-right: 13px;
}

.navbar li a {
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 3px solid rgb(211, 211, 211);
    border-right: 3px solid rgb(211, 211, 211);
    border-left: 3px solid rgb(211, 211, 211);
    background-color: rgb(211, 229, 229);
}

.navbar li a:hover {
    background-color: #f1ebeb;
}

/* header */ 
.item1 {
    grid-area: header; 
    background-image: url(images/about-header.jpeg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;

}

.item2 {
    grid-area: desc;
    background-color: rgb(211, 229, 229);
    justify-content: center;
}

.item2 p {
    margin: 10px;
    text-align: center;
}

.item2 img {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    border: 5px solid rgb(211, 211, 211);
}

.header {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr auto;
    display: grid;
    grid-template-areas:
    'header header'
    'desc desc';
    padding: 5px;
}

/* main */
.main-grid {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr auto;
    display: grid;
    grid-template-areas:
    'text1 text1'
    'text2 text2'
    'text3 text3';
    padding: 5px;
}

.main1 {
    grid-area: text1;
}

.main1 p, h1, h3 {
    margin-left: 10px;
}

/* courses */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    height: 90px;
  }
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.main2 {
    grid-area: text2;
}

.main2 p, h1, h3 {
    margin-left: 10px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.skill-box {
   